= simple_form_for @daily_cash, input_html: {class: 'form-group'} do |f|
  = f.input :from, input_html:{class: 'form-control'}
  p
  = f.input :to, input_html:{class: 'form-control'}
  p
  #items
    p  
    = f.simple_fields_for :detail_outputs do |d|
      = render 'detail_output_fields', f: d
    p
    .links
      = link_to_add_association 'Add Item', f, :detail_outputs, class: 'btn btn-info btn-xs'
  p
  = f.input :with_draw_date, as: :string, input_html:{class: 'form-control datepicker'}, label: 'Date'
  p
  = f.submit 'Finish', class: 'btn btn-success btn-md'

javascript:
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: "dd/mm/yyyy",
      todayHighlight: true,
      endDate: '0d'
    });

    $('#new_daily_cash').validate({
      errorPlacement: function (error, element) {
        error.insertAfter(element);
        error.css({'color':'red','font-size':'13px'})
        error.siblings('input').css('border-color','red')
        error.siblings('textarea').css('border-color','red')
        // error.siblings('label').css('color','red')
      },
      rules:{
        "daily_cash[from]":{required: true},
        "daily_cash[to]":{required: true},
        "daily_cash[reason]":{required: true},
        "daily_cash[money]":{required: true},
        "daily_cash[with_draw_date]":{required: true}
      },
      messages:{
        "daily_cash[from]":{required: "Can not be blank"},
        "daily_cash[to]":{required: "Can not be blank"},
        "daily_cash[reason]":{required: "Can not be blank"},
        "daily_cash[money]":{required: "Can not be blank"},
        "daily_cash[with_draw_date]":{required: "Can not be blank"},
      }
    })
  })