= simple_form_for @input_money, input_html: {class: 'form-group'} do |f|
  = f.input :user_name, input_html:{class: 'form-control'}
  p
  = f.input :reason,as: :text, input_html:{class: 'form-control'}
  p
  = f.input :money, input_html:{class: 'form-control'}
  p
  = f.input :input_date, as: :string, input_html:{class: 'form-control datepicker'}
  p
  = f.submit 'Finish', class: 'btn btn-success btn-md form_input'

javascript:
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: "dd/mm/yyyy",
      todayHighlight: true,
      endDate: '0d'
    });

    $('#new_input_money').validate({
      errorPlacement: function (error, element) {
        error.insertAfter(element);
        error.css({'color':'red','font-size':'13px'})
        error.siblings('input').css('border-color','red')
        error.siblings('textarea').css('border-color','red')
        // error.siblings('label').css('color','red')
      },
      rules:{
        "input_money[user_name]":{required: true},
        "input_money[reason]":{required: true},
        "input_money[money]":{required: true},
        "input_money[input_date]":{required: true}
      },
      messages:{
        "input_money[user_name]":{required: "Can not be blank"},
        "input_money[reason]":{required: "Can not be blank"},
        "input_money[money]":{required: "Can not be blank"},
        "input_money[input_date]":{required: "Can not be blank"},
      }
    })
    if ($('.alert-success ul li').text().includes('Money'))
      $('a[href="#thu"]').click()
  })