/ .container.daily-cash
/   .col-lg-4
/     h3.pull-left New Daily Cash
/     h3.pull-right 
/       = link_to '<i class="fa fa-home" aria-hidden="true"></i>'.html_safe, root_path
/     .clearfix  
/     = render 'form'

    

