#new_daily_cash, #new_input_money{
  label{
    font-size: 15px;
    color: slateblue;
    font-weight: 400;
    abbr{
      display: none;
    }
  }
  padding: 10px;
  border: 1px solid darkseagreen;
}
h4.modal-title, h3.text-center{
  color: chocolate;
}

h3.pull-left{
  color: blue;
}

.container, .col-lg-4{
  padding: 0;
}

.form-control{
  border-radius: 0;
}

textarea#daily_cash_reason, textarea#input_money_reason{
  height: 150px;
  resize: none;
}

button.btn.btn-success.btn-block.today, button.btn.btn-success.btn-block.month, input.month {
  outline: none;
  border: none;
}